* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}


/* For navgation bar  */

.navbar_manual {
    background-color: rgb(211, 1, 1);
    font-size: 120%;
    padding: 0.1rem;
}

.navbar-brand {
    font-size: 150%;
    padding-top: 0rem;
}


/* For covid-heading  */

.covid-news-container {
    height: 415px;
    width: 100vw;
    /* border: 2px solid black; */
    margin-top: 1px;
    padding-right: 10px;
    text-align: center;
    align-items: center;
}

.heading {
    font-size: 230%;
    font-weight: 500;
    background-color: black;
    color: white;
    margin: 12px 0px;
}

.news-content {
    margin-top: 5px;
    /* border: 2px solid red; */
    height: 350px;
    width: inherit;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

.news-card {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: 186px;
    padding: 10px 2px 1px 2rem;
    /* margin: 2px; */
    /* border: 2px solid blue; */
    text-align: left;
    overflow-y: hidden;
    overflow-x: hidden;
}

.news-card:hover {
    background-color: rgb(180, 1, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

.image-section {
    margin-left: 5px;
    margin-top: 3px;
    width: 10rem;
    height: 10rem;
    /* border: 2px solid green; */
}

.image-section img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 10rem;
    height: 10rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.text-section {
    height: 12vw;
    width: 70vw;
    /* border: 2px solid green; */
    margin-left: 12px;
    /* margin-top: 5px; */
    padding-right: 2px;
    color: black;
}

.text-section:hover {
    color: white;
}

.news-card-author {
    font-size: 90%;
    font-style: italic;
}

.latest-news-container {
    height: 420px;
    width: 100vw;
    /* border: 2px solid black; */
    margin-top: 1px;
    padding-right: 10px;
    text-align: center;
    align-items: center;
}

.footer {
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: rgb(61, 0, 0);
    justify-content: center;
    padding-top: 0.5%;
    font-size: 110%;
}

.footer p a {
    color: rgb(199, 199, 199);
}

.footer p a:hover {
    color: rgb(255, 253, 253);
}