* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}


/* For navgation bar  */

.navbar_manual {
    background-color: rgb(187, 1, 1);
    /* background: linear-gradient(to right, rgb(204, 0, 0) 1140px, black 1500px); */
    font-size: 125%;
    font-weight: bold;
    padding: 0.1rem;
}

.navbar-brand {
    font-size: 150%;
    padding-top: 0rem;
}


/* For covid-19-heading (applicable only to homepage) */

#covid-news-container {
    height: 415px;
    width: 100vw;
    /* border: 2px solid black; */
    margin-top: 1px;
    padding-right: 10px;
    text-align: center;
    align-items: center;
}


/* For latest-news-heading (applicable only to homepage) */

#latest-news-container {
    height: 420px;
    width: 100vw;
    /* border: 2px solid black; */
    margin-top: 1px;
    padding-right: 10px;
    text-align: center;
    align-items: center;
    overflow-y: hidden;
}


/* For the entire news container(containing a section-heading,and news-cards)  */

.news-container {
    height: 715px;
    width: 100vw;
    /* border: 2px solid black; */
    margin-top: 1px;
    padding-right: 10px;
    text-align: center;
    align-items: center;
}


/* For heading of the section  */

.heading {
    font-size: 230%;
    font-weight: 500;
    background-color: black;
    color: white;
    margin: 12px 0px;
}


/* For the section containing news card list  */

.news-content {
    margin-top: 5px;
    /* border: 2px solid red; */
    height: 635px;
    width: inherit;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}


/* For the section containing news card list (applicable to homepage only)  */

.homepage-news-content {
    margin-top: 5px;
    /* border: 2px solid red; */
    height: 350px;
    width: inherit;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}


/* For individual news card  */

.news-card {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: 186px;
    padding: 10px 2px 1px 2rem;
    /* margin: 2px; */
    /* border: 2px solid blue; */
    text-align: left;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: all 0.4s;
}

.news-card:hover {
    /* background-color: rgb(180, 1, 1); */
    background: linear-gradient(black 5px, rgb(204, 0, 0) 120px);
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.8);
    transform: scale(1.01);
    opacity: 0.9;
}


/* For images of news card  */

.image-section {
    margin-left: 5px;
    margin-top: 3px;
    width: 10rem;
    height: 10rem;
}

.image-section img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 10rem;
    height: 10rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* For text inside each news card  */

.text-section {
    height: 12vw;
    width: 70vw;
    margin-left: 12px;
    padding-right: 2px;
    color: black;
}

.text-section:hover {
    color: white;
}

.news-card-author {
    font-size: 90%;
    font-style: italic;
}


/* Footer of the page  */

.footer {
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: rgb(61, 0, 0);
    justify-content: center;
    padding-top: 0.5%;
    font-size: 110%;
}

.footer p a {
    color: rgb(199, 199, 199);
}

.footer p a:hover {
    color: rgb(255, 253, 253);
}


/* Responsive design using media query   */

@media screen and (max-width:550px) {
    .heading {
        width: 100vw;
        font-size: 170%;
    }
    .news-card {
        padding: 0.3rem 0px 0.5rem 0.2rem;
        height: 130px;
    }
    .image-section {
        width: 6rem;
        height: 6rem;
    }
    .image-section img {
        width: 6rem;
        height: 6rem;
    }
    .news-card-subject {
        font-size: 110%;
    }
    .news-card-summary {
        display: none;
    }
    .footer {
        font-size: 0.8em;
        height: 30px;
    }
}